@import '../common/styles/var.scss';

.iny-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  box-sizing: border-box;
  animation: ease both;
  -webkit-overflow-scrolling: touch;
  transition-timing-function: ease;

  &--round {
    border-radius: 10px 10px 0 0;
  }

  &--center {
    transform: translate3d(-50%, -50%, 0);
  }

  &--top {
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, 0, 0);
  }

  &--right {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    transform: translate3d(0, 0, 0);
  }

  &--bottom {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &--left {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    transform: translate3d(0, 0, 0);
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }

  &--bottom {
    &.iny-popup--safe {
      /* autoprefixer: ignore next */
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  &__safe-top {
     /* autoprefixer: ignore next */
     padding-top: constant(safe-area-inset-top);
     padding-top: env(safe-area-inset-top); 
  }

  &--center,
  &--bottom {
    .iny-popup__safe-top {
      padding-top: 0 !important;
    }
  }
}

.iny-scale-enter-active,
.iny-scale-leave-active {
  transition-property: opacity, transform;
}

.iny-scale-enter,
.iny-scale-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
}

.iny-fade-enter-active,
.iny-fade-leave-active {
  transition-property: opacity;
}

.iny-fade-enter,
.iny-fade-leave-to {
  opacity: 0;
}

.iny-center-enter-active,
.iny-center-leave-active {
  transition-property: opacity;
}

.iny-center-enter,
.iny-center-leave-to {
  opacity: 0;
}

.iny-bottom-enter-active,
.iny-bottom-leave-active,
.iny-top-enter-active,
.iny-top-leave-active,
.iny-left-enter-active,
.iny-left-leave-active,
.iny-right-enter-active,
.iny-right-leave-active {
  transition-property: transform;
}

.iny-bottom-enter,
.iny-bottom-leave-to {
  transform: translate3d(0, 100%, 0);
}

.iny-top-enter,
.iny-top-leave-to {
  transform: translate3d(-50%, -100%, 0);
}

.iny-left-enter,
.iny-left-leave-to {
  transform: translate3d(-100%, 0, 0);
}

.iny-right-enter,
.iny-right-leave-to {
  transform: translate3d(100%, 0, 0);
}
