
@import './var.scss';
@import './mixin.scss';

// 主题色
.iny-color-theme {
  color: $color-theme;
}
// 二级主题色
.iny-sub-color-theme {
  color: $color-theme-sub;
}

.iny-no-wrap {
  @include no-wrap()
}

.iny-no-wrap-2 {
  @include more-no-wrap(2)
}

.iny-no-wrap-3 {
  @include more-no-wrap(3)
}

// 全边框
.iny-hairline,
// 上边框
.iny-hairline--top,
// 左边框
.iny-hairline--left,
// 右边框
.iny-hairline--right,
// 下边框
.iny-hairline--bottom,
// 上下边框
.iny-hairline--top-bottom {
  position: relative;

  &::after {
    @include hairline($color-border);
  }
}

.iny-hairline {
  &--top::after {
    border-top-width: 1px;
  }

  &--left::after {
    border-left-width: 1px;
  }

  &--right::after {
    border-right-width: 1px;
  }

  &--bottom::after {
    border-bottom-width: 1px;
  }

  &--top-bottom::after {
    border-width: 1px 0;
  }

  &::after {
    border-width: 1px;
  }
}
